body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    background-image: url('kk_cb_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    place-content: center;
    font-family: "Lexend Tera", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    font-family: "Lexend Tera", sans-serif;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 50px;
    border-radius: 10px;
    color: white;
    background-color: #3a745d;
    border: 7px solid #d19e6f;
    border-radius: 2px;
}

.gameResult {
    display: none;
    color: #d7ff44;
    text-shadow: 0 0 10px #162d24;
    font-size: 30px;
    font-weight: 500;
}

.errorMessage {
    display: none;
}

.player-container {
    background-color: rgba(255, 255, 255, 0.583);
    display: flex;
    align-items: center;
    height: 10em;
    margin: 2em;
    padding: 5em 2em;
    border-radius: 8px;
}

.player-container h4 {
    margin: 10px 0px;
}

.character-img img{
    width: 12em;
    height: auto;
    padding-right: 1em;
}

.moves-container {
    margin: 5px 0px;
}

.moves {
    color: #560061;
    background-color: #d283ff;
    font-size: 1.5em;
    font-family: "Lexend Tera", sans-serif;
    border: 3px solid #d283ff;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 5px 3px;
}

.moves:hover {
    color: #d283ff;
    background-color: #560061;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.input-container {
    display: flex;
    gap: 5px;
    margin: 5px 4px;
}

.input-container .errorMessage{
    font-size: 12px;
    color: red;
    width: 455px;
}

.player-input-box {
    color: #560061;
    width: 455px;
    height: 25px;
    font-family: "Lexend Tera", sans-serif;
    border: 2px solid #560061;
    border-radius: 5px;
    padding: 0px 25px;
}

.input-container button{
    color: #d283ff;
    background-color: #560061;
    cursor: pointer;
    border: 2px solid #560061;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-family: "Lexend Tera", sans-serif;
    font-weight: 700;
}

.input-container button:hover{
    color: #560061;
    background-color: #d283ff;
    cursor: pointer;
    transition: background-color 0.5s ease;
    width: 60px;
    height: 30px;
    font-family: "Lexend Tera", sans-serif;
}

.computer-score-container {
    display: flex;
    align-items: center;
    /* gap: 20px; */
}

.displayComputer {
    background-color: #1d233b;
    color: #9ac859;
    text-shadow: 0 0 5px #a8c67e;
    border: 2px solid #1d233b;
    border-radius: 5px;
    width: 260px;
    height: 110px;
    padding: 20px;
    text-align: center;
}

.character-img.karen img{
    width: 12em;
    height: auto;
    padding-right: 0;
}

.score-board {
    margin-left: 75px;
    padding: 18px;
    color: white;
    background-color: #3a745d;
    border: 5px solid #d19e6f;
    border-radius: 2px;
}

.score-board button{
    color: white;
    background-color: #3a745d;
    cursor: pointer;
    font-family: "Lexend Tera", sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

.score-board button:hover{
    /* color: #; */
    cursor: pointer;
    border: 2px solid #162d24;
    background-color: #162d24;
    transition: background-color 0.5s ease;
    font-family: "Lexend Tera", sans-serif;
}

.message-board {
    width: 500px;
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.back-home {
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    text-shadow: 0 0 5px #3d3d3d;
    align-self: flex-start;
    margin: 2em;
    padding: 10px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 12px;
}

.back-home:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.704);
    transition: background-color 0.3s ease;
}

.home.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home.title h1 {
    margin: 5px;
}

.home.title h4 {
    margin: 0;
}

.home.title h5 {
    margin: 10px;
    color: #d7ff44;
}

.mode-btn {
    color: #d283ff;
    /* background-color: #d283ff; */
    cursor: pointer;
    border: 3px solid #d283ff;
    border-radius: 5px;
    font-weight: 700;
    margin: 2em;
    padding: 10px 40px;
    text-decoration: none;
}

.mode-btn:hover{
    border: 3px solid #560061;
    background-color: #560061;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

/* ===== BreakPoints ===== */
@media (max-width: 900px) { 
    .player-container {
        width: 600px;
    }

    .character-img img{
        /* display: none; */
    }

    .moves-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
    }

    .moves {
        width: 300px;
    }

    .player-input-box {
        width: 200px;
        height: 25px;
        padding: 0px 10px;
    }

    .input-container {
        justify-content: center;
    }

    .player-container h4 {
        font-size: 15px;
    }

    .computer-score-container {
        flex-direction: row;
    }

    .score-board {
        margin-left: 20px;
        margin-top: 0px;
    }
}

@media (max-width: 500px) { 

    .player-container {
        width: 320px;
    }

    .character-img img{
        display: none;
    }

    .moves-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
    }

    .moves {
        width: 250px;
    }

    .player-input-box {
        width: 200px;
        height: 25px;
        padding: 0px 10px;
    }

    .input-container {
        justify-content: center;
    }

    .player-container h4 {
        font-size: 15px;
    }

    .computer-score-container {
        flex-direction: column;
    }

    .score-board {
        margin-left: 0px;
        margin-top: 15px;
    }

}
